In [1]:
import pandas as pd

In [8]:
fortune = pd.read_csv('fortune1000_final.csv', encoding='latin1', index_col='rank')

In [9]:
fortune.head()

,title,Previous Rank,Revenues ($M),Revenue Change,Profits ($M),Profit Change,Assets ($M),Mkt Value as of 3/29/18 ($M),Employees,CEO,CEO Title,Sector,Industry,Years on Fortune 500 List,City,State,Latitude,Longitude
rank,,,,,,,,,,,,,,,,,,
1,Walmart,1,"$500,343",3.00%,"$9,862.00",-27.70%,"$204,522","$263,563","2,300,000",C. Douglas McMillon,"President, Chief Executive Officer & Director",Retailing,General Merchandisers,24,Bentonville,AR,36.372854,-94.208817
2,Exxon Mobil,4,"$244,363",17.40%,"$19,710.00",151.40%,"$348,691","$316,157","71,200",Darren W. Woods,Chairman & Chief Executive Officer,Energy,Petroleum Refining,24,Irving,TX,32.814018,-96.948894
3,Berkshire Hathaway,2,"$242,137",8.30%,"$44,940.00",86.70%,"$702,095","$492,008","377,000",Warren E. Buffett,"Chairman, President & Chief Executive Officer",Financials,Insurance: Property and Casualty (Stock),24,Omaha,NE,41.256537,-95.934503
4,Apple,3,"$229,234",6.30%,"$48,351.00",5.80%,"$375,319","$851,318","123,000",Timothy D. Cook,Chairman & Chief Executive Officer,Technology,"Computers, Office Equipment",24,Cupertino,CA,37.322998,-122.032182
5,UnitedHealth Group,6,"$201,159",8.80%,"$10,558.00",50.50%,"$139,058","$207,080","260,000",David S. Wichmann,Chairman & Chief Executive Officer,Health Care,Health Care: Insurance and Managed Care,24,Minnetonka,MN,44.921184,-93.468749

In [4]:
fortune['Sector'].nunique()

21

In [5]:
fortune.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 19 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   rank                          1000 non-null   int64
 1   title                         1000 non-null   object
 2   Previous Rank                 938 non-null    object
 3   Revenues ($M)                 1000 non-null   object
 4   Revenue Change                1000 non-null   object
 5   Profits ($M)                  1000 non-null   object
 6   Profit Change                 1000 non-null   object
 7   Assets ($M)                   1000 non-null   object
 8   Mkt Value as of 3/29/18 ($M)  1000 non-null   object
 9   Employees                     1000 non-null   object
 10  CEO                           1000 non-null   object
 11  CEO Title                     1000 non-null   object
 12  Sector                        1000 non-null   object
 13  Industry                      1000 non-null   object
 14  Years on Fortune 500 List     1000 non-null   object
 15  City                          999 non-null    object
 16  State                         1000 non-null   object
 17  Latitude                      1000 non-null   float64
 18  Longitude                     1000 non-null   float64
dtypes: float64(2), int64(1), object(16)
memory usage: 148.6+ KB

In [6]:
fortune['rank'].nunique()

999

In [7]:
fortune['rank'].unique()

array([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,   11,
         12,   13,   14,   15,   16,   17,   18,   19,   20,   21,   22,
         23,   24,   25,   26,   27,   28,   29,   30,   31,   32,   33,
         34,   35,   36,   37,   38,   39,   40,   41,   42,   43,   44,
         45,   46,   47,   48,   49,   50,   51,   52,   53,   54,   55,
         56,   57,   58,   59,   60,   61,   62,   63,   64,   65,   66,
         67,   68,   69,   70,   71,   72,   73,   74,   75,   76,   77,
         78,   79,   80,   81,   82,   83,   84,   85,   86,   87,   88,
         89,   90,   91,   92,   93,   94,   95,   96,   97,   98,   99,
        100,  101,  102,  103,  104,  105,  106,  107,  108,  109,  110,
        111,  112,  113,  114,  115,  116,  117,  118,  119,  120,  121,
        122,  123,  124,  125,  126,  127,  128,  129,  130,  131,  132,
        133,  134,  135,  136,  137,  138,  139,  140,  141,  142,  143,
        144,  145,  146,  147,  148,  149,  150,  151,  152,  153,  154,
        155,  156,  157,  158,  159,  160,  161,  162,  163,  164,  165,
        166,  167,  168,  169,  170,  171,  172,  173,  174,  175,  176,
        177,  178,  179,  180,  181,  182,  183,  184,  185,  186,  187,
        188,  189,  190,  191,  192,  193,  194,  195,  196,  197,  198,
        199,  200,  201,  202,  203,  204,  205,  206,  207,  208,  209,
        210,  211,  212,  213,  214,  215,  216,  217,  218,  219,  220,
        221,  222,  223,  224,  225,  226,  227,  228,  229,  230,  231,
        232,  233,  234,  235,  236,  237,  238,  239,  240,  241,  242,
        243,  244,  245,  246,  247,  248,  249,  250,  251,  252,  253,
        254,  255,  256,  257,  258,  259,  260,  261,  262,  263,  264,
        265,  266,  267,  268,  269,  270,  271,  272,  273,  274,  275,
        276,  277,  278,  279,  280,  281,  282,  283,  284,  285,  286,
        287,  288,  289,  290,  291,  292,  293,  294,  295,  296,  297,
        298,  299,  300,  301,  302,  303,  304,  305,  306,  307,  308,
        309,  310,  311,  312,  313,  314,  315,  316,  317,  318,  319,
        320,  321,  322,  323,  324,  325,  326,  327,  328,  329,  330,
        331,  332,  333,  334,  335,  336,  337,  338,  339,  340,  341,
        342,  343,  344,  345,  346,  347,  348,  349,  350,  351,  352,
        353,  354,  355,  356,  357,  358,  359,  360,  361,  362,  363,
        364,  365,  366,  367,  368,  369,  370,  371,  372,  373,  374,
        375,  376,  377,  378,  379,  380,  381,  382,  383,  384,  385,
        386,  387,  388,  389,  390,  391,  392,  393,  394,  395,  396,
        397,  398,  399,  400,  401,  402,  403,  404,  405,  406,  407,
        408,  409,  410,  411,  412,  413,  414,  415,  416,  417,  418,
        419,  420,  421,  422,  423,  424,  425,  426,  427,  428,  429,
        430,  431,  432,  433,  434,  435,  436,  437,  438,  439,  440,
        441,  442,  443,  444,  445,  446,  447,  448,  449,  450,  451,
        452,  453,  454,  455,  456,  457,  458,  459,  460,  461,  462,
        463,  464,  465,  466,  467,  468,  469,  470,  471,  472,  473,
        474,  475,  476,  477,  478,  479,  480,  481,  482,  483,  484,
        485,  486,  487,  488,  489,  490,  491,  492,  493,  494,  495,
        496,  497,  498,  499,  500,  501,  502,  503,  504,  505,  506,
        507,  508,  509,  510,  511,  512,  513,  514,  515,  516,  517,
        518,  519,  520,  521,  522,  523,  524,  525,  526,  527,  528,
        529,  530,  531,  532,  533,  534,  535,  536,  537,  538,  539,
        540,  541,  542,  543,  544,  545,  546,  547,  548,  549,  550,
        551,  552,  553,  554,  555,  556,  557,  558,  559,  560,  561,
        562,  563,  564,  565,  566,  567,  568,  569,  570,  571,  572,
        573,  574,  575,  576,  577,  578,  579,  580,  581,  582,  583,
        584,  585,  586,  587,  588,  589,  590,  591,  592,  593,  594,
        595,  596,  597,  598,  599,  600,  601,  602,  603,  604,  605,
        606,  607,  608,  609,  610,  611,  612,  613,  614,  615,  616,
        617,  618,  619,  620,  621,  622,  623,  624,  625,  626,  627,
        628,  629,  630,  631,  632,  633,  634,  635,  636,  637,  638,
        639,  640,  641,  642,  643,  644,  645,  646,  647,  648,  649,
        650,  651,  652,  653,  654,  655,  656,  657,  658,  659,  660,
        661,  662,  663,  664,  665,  666,  667,  668,  669,  670,  671,
        672,  673,  674,  675,  676,  677,  678,  679,  680,  681,  682,
        683,  684,  685,  686,  687,  688,  689,  690,  691,  692,  694,
        695,  696,  697,  698,  699,  700,  701,  702,  703,  704,  705,
        706,  707,  708,  709,  710,  711,  712,  713,  714,  715,  716,
        717,  718,  719,  720,  721,  722,  723,  724,  725,  726,  727,
        728,  729,  730,  731,  732,  733,  734,  735,  736,  737,  738,
        739,  740,  741,  742,  743,  744,  745,  746,  747,  748,  749,
        750,  751,  752,  753,  754,  755,  756,  757,  758,  759,  760,
        761,  762,  763,  764,  765,  766,  767,  768,  769,  770,  771,
        772,  773,  774,  775,  776,  777,  778,  779,  780,  781,  782,
        783,  784,  785,  786,  787,  788,  789,  790,  791,  792,  793,
        794,  795,  796,  797,  798,  799,  800,  801,  802,  803,  804,
        805,  806,  807,  808,  809,  810,  811,  812,  813,  814,  815,
        816,  817,  818,  819,  820,  821,  822,  823,  824,  825,  826,
        827,  828,  829,  830,  831,  832,  833,  834,  835,  836,  837,
        838,  839,  840,  841,  842,  843,  844,  845,  846,  847,  848,
        849,  850,  851,  852,  853,  854,  855,  856,  857,  858,  859,
        860,  861,  862,  863,  864,  865,  866,  867,  868,  869,  870,
        871,  872,  873,  874,  875,  876,  877,  878,  879,  880,  881,
        882,  883,  884,  885,  886,  887,  888,  889,  890,  891,  892,
        893,  894,  895,  896,  897,  898,  899,  900,  901,  902,  903,
        904,  905,  906,  907,  908,  909,  910,  911,  912,  913,  914,
        915,  916,  917,  918,  919,  920,  921,  922,  923,  924,  925,
        926,  927,  928,  929,  930,  931,  932,  933,  934,  935,  936,
        937,  938,  939,  940,  941,  942,  943,  944,  945,  946,  947,
        948,  949,  950,  951,  952,  953,  954,  955,  956,  957,  958,
        959,  960,  961,  962,  963,  964,  965,  966,  967,  968,  969,
        970,  971,  972,  973,  974,  975,  976,  977,  978,  979,  980,
        981,  982,  983,  984,  985,  986,  987,  988,  989,  990,  991,
        992,  993,  994,  995,  996,  997,  998,  999, 1000], dtype=int64)

In [11]:
sectors=fortune.groupby('Sector')

In [12]:
sectors.head()

,title,Previous Rank,Revenues ($M),Revenue Change,Profits ($M),Profit Change,Assets ($M),Mkt Value as of 3/29/18 ($M),Employees,CEO,CEO Title,Sector,Industry,Years on Fortune 500 List,City,State,Latitude,Longitude
rank,,,,,,,,,,,,,,,,,,
1,Walmart,1,"$500,343",3.00%,"$9,862.00",-27.70%,"$204,522","$263,563","2,300,000",C. Douglas McMillon,"President, Chief Executive Officer & Director",Retailing,General Merchandisers,24,Bentonville,AR,36.372854,-94.208817
2,Exxon Mobil,4,"$244,363",17.40%,"$19,710.00",151.40%,"$348,691","$316,157","71,200",Darren W. Woods,Chairman & Chief Executive Officer,Energy,Petroleum Refining,24,Irving,TX,32.814018,-96.948894
3,Berkshire Hathaway,2,"$242,137",8.30%,"$44,940.00",86.70%,"$702,095","$492,008","377,000",Warren E. Buffett,"Chairman, President & Chief Executive Officer",Financials,Insurance: Property and Casualty (Stock),24,Omaha,NE,41.256537,-95.934503
4,Apple,3,"$229,234",6.30%,"$48,351.00",5.80%,"$375,319","$851,318","123,000",Timothy D. Cook,Chairman & Chief Executive Officer,Technology,"Computers, Office Equipment",24,Cupertino,CA,37.322998,-122.032182
5,UnitedHealth Group,6,"$201,159",8.80%,"$10,558.00",50.50%,"$139,058","$207,080","260,000",David S. Wichmann,Chairman & Chief Executive Officer,Health Care,Health Care: Insurance and Managed Care,24,Minnetonka,MN,44.921184,-93.468749
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,MGM Resorts International,297,"$10,774",13.90%,"$1,960.30",78.00%,"$29,159","$19,844","68,500",James J. Murren,Chairman & Chief Executive Officer,"Hotels, Restaurants & Leisure","Hotels, Casinos, Resorts",18,Las Vegas,NV,36.169941,-115.139830
297,Jacobs Engineering Group,259,"$10,023",-8.60%,$293.70,39.60%,"$7,381","$8,380","49,750",Steven J. Demetriou,"Chairman, President & Chief Executive Officer",Engineering & Construction,"Engineering, Construction",18,Dallas,TX,32.776664,-96.796988
332,PVH,335,"$8,915",8.70%,$537.80,-2.00%,"$11,886","$11,649","28,050",Emanuel Chirico,Chairman & Chief Executive Officer,Apparel,Apparel,8,New York,NY,40.712775,-74.005973
421,Ralph Lauren,371,"$6,653",-10.20%,($99.30),-125.10%,"$5,652","$9,088","18,250",Patrice Louvet,"President, Chief Executive Officer & Director",Apparel,Apparel,10,New York,NY,40.712775,-74.005973
433,Hanesbrands,432,"$6,478",6.90%,$61.90,-88.50%,"$6,895","$6,638","67,200",Gerald W. Evans Jr.,Chairman & Chief Executive Officer,Apparel,Apparel,4,Winston-Salem,NC,36.099860,-80.244216

In [13]:
type(fortune)

pandas.core.frame.DataFrame

In [14]:
type(sectors)

pandas.core.groupby.generic.DataFrameGroupBy

In [15]:
len(sectors)

21

In [16]:
sectors.size()

Sector
Aerospace &  Defense               25
Apparel                            14
Business Services                  53
Chemicals                          33
Energy                            107
Engineering &  Construction        27
Financials                        155
Food &  Drug Stores                12
Food, Beverages &  Tobacco         37
Health Care                        71
Hotels, Restaurants &  Leisure     26
Household Products                 28
Industrials                        49
Materials                          45
Media                              25
Motor Vehicles &  Parts            19
Retailing                          77
Technology                        103
Telecommunications                 10
Transportation                     40
Wholesalers                        44
dtype: int64

In [17]:
fortune['Sector'].value_counts()

Financials                        155
Energy                            107
Technology                        103
Retailing                          77
Health Care                        71
Business Services                  53
Industrials                        49
Materials                          45
Wholesalers                        44
Transportation                     40
Food, Beverages &  Tobacco         37
Chemicals                          33
Household Products                 28
Engineering &  Construction        27
Hotels, Restaurants &  Leisure     26
Aerospace &  Defense               25
Media                              25
Motor Vehicles &  Parts            19
Apparel                            14
Food &  Drug Stores                12
Telecommunications                 10
Name: Sector, dtype: int64

In [18]:
sectors.first()   #first company in each sector

,title,Previous Rank,Revenues ($M),Revenue Change,Profits ($M),Profit Change,Assets ($M),Mkt Value as of 3/29/18 ($M),Employees,CEO,CEO Title,Industry,Years on Fortune 500 List,City,State,Latitude,Longitude
Sector,,,,,,,,,,,,,,,,,
Aerospace & Defense,Boeing,24,"$93,392",-1.20%,"$8,197.00",67.50%,"$92,333","$192,539","140,800",Dennis A. Muilenburg,"Chairman, President & Chief Executive Officer",Aerospace and Defense,24,Chicago,IL,41.878114,-87.629798
Apparel,Nike,88,"$34,350",6.10%,"$4,240.00",12.80%,"$23,259","$108,094","74,400",Mark G. Parker,"Chairman, President & Chief Executive Officer",Apparel,24,Beaverton,OR,45.488799,-122.801333
Business Services,ManpowerGroup,146,"$21,034",7.00%,$545.40,22.90%,"$8,884","$7,614","29,000",Jonas Prising,Chairman & Chief Executive Officer,Temporary Help,24,Milwaukee,WI,43.038902,-87.906474
Chemicals,DowDuPont,62,"$62,683",30.20%,"$1,460.00",-66.20%,"$192,164","$148,186",98000,Edward D. Breen,Chief Executive Officer,Chemicals,24,Midland,Michigan,43.623574,-84.232105
Energy,Exxon Mobil,4,"$244,363",17.40%,"$19,710.00",151.40%,"$348,691","$316,157","71,200",Darren W. Woods,Chairman & Chief Executive Officer,Petroleum Refining,24,Irving,TX,32.814018,-96.948894
Engineering & Construction,Fluor,149,"$19,521",2.50%,$191.40,-32.00%,"$9,328","$8,006","56,706",David T. Seaton,Chairman & Chief Executive Officer,"Engineering, Construction",17,Irving,TX,32.814018,-96.948894
Financials,Berkshire Hathaway,2,"$242,137",8.30%,"$44,940.00",86.70%,"$702,095","$492,008","377,000",Warren E. Buffett,"Chairman, President & Chief Executive Officer",Insurance: Property and Casualty (Stock),24,Omaha,NE,41.256537,-95.934503
Food & Drug Stores,Kroger,18,"$122,662",6.40%,"$1,907.00",-3.40%,"$37,197","$20,828","449,000",W. Rodney McMullen,Chairman & Chief Executive Officer,Food and Drug Stores,24,Cincinnati,OH,39.103118,-84.512020
"Food, Beverages & Tobacco",PepsiCo,44,"$63,525",1.20%,"$4,857.00",-23.30%,"$79,804","$154,933","263,000",Indra K. Nooyi,Chairman & Chief Executive Officer,Food Consumer Products,24,Harrison,NY,41.040014,-73.714448
Health Care,UnitedHealth Group,6,"$201,159",8.80%,"$10,558.00",50.50%,"$139,058","$207,080","260,000",David S. Wichmann,Chairman & Chief Executive Officer,Health Care: Insurance and Managed Care,24,Minnetonka,MN,44.921184,-93.468749
"Hotels, Restaurants & Leisure",Marriott International,163,"$22,894",34.10%,"$1,372.00",75.90%,"$23,948","$48,531","177,000",Arne M. Sorenson,"President, Chief Executive Officer & Director","Hotels, Casinos, Resorts",20,Bethesda,MD,38.984652,-77.094709
Household Products,Procter & Gamble,36,"$66,217",-7.70%,"$15,326.00",45.90%,"$120,406","$199,865","95,000",David S. Taylor,"Chairman, President & Chief Executive Officer",Household and Personal Products,24,Cincinnati,OH,39.103118,-84.512020
Industrials,General Electric,13,"$122,274",-3.50%,"($5,786.00)",-165.50%,"$377,945","$117,054","313,000",John L. Flannery Jr.,Chairman & Chief Executive Officer,Industrial Machinery,24,Boston,MA,42.360083,-71.058880
Materials,International Paper,133,"$23,302",10.50%,"$2,144.00",137.20%,"$33,903","$22,063","56,000",Mark S. Sutton,Chairman & Chief Executive Officer,"Packaging, Containers",24,Memphis,TN,35.149534,-90.048980
Media,Disney,52,"$55,137",-0.90%,"$8,980.00",-4.40%,"$95,789","$151,029","199,000",Robert A. Iger,Chairman & Chief Executive Officer,Entertainment,24,Burbank,CA,34.180839,-118.308966
Motor Vehicles & Parts,General Motors,8,"$157,311",-5.50%,"($3,864.00)",-141.00%,"$212,482","$50,972","180,000",Mary T. Barra,Chairman & Chief Executive Officer,Motor Vehicles and Parts,24,Detroit,MI,42.331427,-83.045754
Retailing,Walmart,1,"$500,343",3.00%,"$9,862.00",-27.70%,"$204,522","$263,563","2,300,000",C. Douglas McMillon,"President, Chief Executive Officer & Director",General Merchandisers,24,Bentonville,AR,36.372854,-94.208817
Technology,Apple,3,"$229,234",6.30%,"$48,351.00",5.80%,"$375,319","$851,318","123,000",Timothy D. Cook,Chairman & Chief Executive Officer,"Computers, Office Equipment",24,Cupertino,CA,37.322998,-122.032182
Telecommunications,AT&T,9,"$160,546",-2.00%,"$29,450.00",127.00%,"$444,097","$218,946","254,000",Randall L. Stephenson,"Chairman, President & Chief Executive Officer",Telecommunications,24,Dallas,TX,32.776664,-96.796988
Transportation,UPS,46,"$65,872",8.20%,"$4,910.00",43.10%,"$45,403","$90,156","346,415",David P. Abney,Chairman & Chief Executive Officer,"Mail, Package, and Freight Delivery",24,Atlanta,GA,33.748995,-84.387982
Wholesalers,McKesson,5,"$198,533",3.10%,"$5,070.00",124.50%,"$60,969","$29,067","64,500",John H. Hammergren,"Chairman, President & Chief Executive Officer",Wholesalers: Health Care,24,SF,CA,37.774929,-122.419415

In [19]:
sectors.groups

{'Aerospace &  Defense': Int64Index([ 27,  51,  59,  99, 118, 119, 208, 225, 276, 381, 405, 407, 415,
             541, 661, 662, 807, 830, 885, 931, 955, 956, 960, 976, 989],
            dtype='int64', name='rank'),
 'Apparel': Int64Index([89, 242, 332, 421, 433, 527, 530, 555, 588, 679, 767, 775, 836,
             862],
            dtype='int64', name='rank'),
 'Business Services': Int64Index([143, 161, 188, 200, 202, 222, 236, 243, 254, 296, 326, 359, 365,
             424, 463, 466, 487, 494, 498, 500, 503, 511, 529, 568, 578, 585,
             592, 600, 605, 619, 650, 687, 692, 692, 701, 703, 713, 721, 739,
             745, 772, 803, 811, 826, 880, 889, 895, 896, 899, 906, 923, 973,
             998],
            dtype='int64', name='rank'),
 'Chemicals': Int64Index([ 47, 190, 191, 199, 215, 264, 282, 310, 345, 352, 382, 448, 451,
             455, 528, 594, 624, 649, 672, 673, 680, 705, 723, 741, 791, 837,
             866, 873, 909, 933, 959, 964, 979],
            dtype='int64', name='rank'),
 'Energy': Int64Index([  2,  13,  28,  31,  41,  64,  90,  91,  92,  95,
             ...
             902, 918, 935, 950, 953, 954, 977, 980, 981, 991],
            dtype='int64', name='rank', length=107),
 'Engineering &  Construction': Int64Index([153, 164, 211, 230, 297, 316, 339, 341, 368, 428, 444, 480, 542,
             570, 589, 616, 706, 737, 738, 765, 780, 816, 842, 853, 963, 983,
             987],
            dtype='int64', name='rank'),
 'Financials': Int64Index([   3,   20,   21,   24,   26,   32,   36,   38,   43,   52,
             ...
              914,  917,  924,  930,  951,  965,  978,  986,  988, 1000],
            dtype='int64', name='rank', length=155),
 'Food &  Drug Stores': Int64Index([17, 19, 53, 88, 94, 180, 550, 553, 601, 668, 840, 942], dtype='int64', name='rank'),
 'Food, Beverages &  Tobacco': Int64Index([ 45,  48,  80,  87,  96, 108, 114, 117, 154, 182, 216, 226, 275,
             321, 323, 358, 362, 379, 383, 386, 418, 446, 478, 481, 512, 539,
             576, 612, 629, 634, 684, 695, 718, 735, 760, 901, 938],
            dtype='int64', name='rank'),
 'Health Care': Int64Index([  5,   7,  25,  29,  37,  49,  56,  57,  61,  63,  73,  78, 110,
             111, 116, 129, 130, 145, 147, 152, 160, 162, 170, 179, 198, 224,
             240, 245, 251, 268, 283, 286, 304, 328, 361, 367, 390, 416, 473,
             475, 504, 507, 519, 543, 556, 561, 603, 606, 656, 670, 674, 719,
             725, 743, 754, 755, 783, 796, 831, 846, 916, 922, 926, 936, 937,
             940, 957, 961, 995, 997, 999],
            dtype='int64', name='rank'),
 'Hotels, Restaurants &  Leisure': Int64Index([127, 131, 132, 227, 280, 324, 396, 397, 447, 472, 479, 536, 549,
             557, 584, 714, 715, 722, 742, 776, 818, 852, 892, 904, 966, 985],
            dtype='int64', name='rank'),
 'Household Products': Int64Index([ 42, 163, 184, 196, 228, 258, 315, 371, 373, 422, 468, 485, 509,
             513, 533, 609, 623, 728, 779, 795, 822, 876, 882, 883, 894, 913,
             947, 968],
            dtype='int64', name='rank'),
 'Industrials': Int64Index([ 18,  65,  77,  97, 102, 140, 149, 155, 178, 204, 256, 293, 342,
             347, 360, 414, 420, 445, 547, 572, 602, 617, 620, 621, 627, 628,
             632, 635, 665, 688, 731, 732, 751, 777, 804, 814, 828, 851, 854,
             855, 858, 865, 879, 888, 939, 944, 952, 967, 982],
            dtype='int64', name='rank'),
 'Materials': Int64Index([124, 151, 194, 246, 262, 277, 305, 312, 338, 394, 399, 400, 404,
             410, 427, 436, 442, 456, 461, 517, 523, 525, 565, 595, 596, 597,
             607, 610, 615, 625, 642, 663, 664, 686, 696, 708, 730, 757, 782,
             787, 834, 838, 946, 958, 975],
            dtype='int64', name='rank'),
 'Media': Int64Index([ 55,  98, 109, 197, 221, 290, 350, 377, 406, 409, 452, 593, 646,
             651, 655, 711, 716, 729, 736, 768, 786, 820, 848, 962, 994],
            dtype='int64', name='rank'),
 'Motor Vehicles &  Parts': Int64Index([ 10,  11, 148, 187, 260, 289, 301, 320, 392, 393, 449, 644, 700,
             717, 759, 887, 890, 921, 941],
            dtype='int64', name='rank'),
 'Retailing': Int64Index([  1,   8,  15,  23,  39,  40,  72,  85, 120, 123, 134, 138, 139,
             157, 172, 174, 181, 183, 209, 231, 235, 248, 272, 273, 278, 279,
             281, 288, 294, 295, 298, 317, 322, 329, 333, 335, 340, 363, 391,
             423, 425, 434, 439, 459, 465, 471, 505, 508, 510, 546, 548, 581,
             590, 611, 613, 622, 645, 666, 681, 699, 733, 746, 747, 771, 778,
             793, 823, 847, 856, 857, 859, 881, 910, 927, 972, 990, 993],
            dtype='int64', name='rank'),
 'Technology': Int64Index([  4,  22,  30,  34,  35,  46,  58,  62,  76,  82,
             ...
             925, 928, 932, 945, 949, 970, 971, 974, 984, 992],
            dtype='int64', name='rank', length=103),
 'Telecommunications': Int64Index([9, 16, 33, 74, 166, 203, 325, 474, 521, 908], dtype='int64', name='rank'),
 'Transportation': Int64Index([ 44,  50,  71,  75,  81, 141, 142, 186, 193, 265, 284, 355, 387,
             395, 402, 408, 488, 496, 531, 532, 567, 599, 633, 638, 676, 689,
             707, 763, 794, 802, 815, 849, 905, 907, 915, 919, 929, 934, 948,
             969],
            dtype='int64', name='rank'),
 'Wholesalers': Int64Index([  6,  12,  14,  54,  83, 113, 121, 128, 169, 171, 177, 238, 247,
             287, 300, 318, 319, 331, 346, 349, 351, 357, 370, 426, 430, 490,
             522, 562, 566, 569, 575, 643, 653, 671, 685, 749, 758, 774, 801,
             810, 871, 911, 943, 996],
            dtype='int64', name='rank')}

In [20]:
fortune.iloc[26]

title                                                                   Boeing
Previous Rank                                                               24
Revenues ($M)                                                         $93,392
Revenue Change                                                          -1.20%
Profits ($M)                                                        $8,197.00
Profit Change                                                           67.50%
Assets ($M)                                                           $92,333
Mkt Value as of 3/29/18 ($M)                                         $192,539
Employees                                                              140,800
CEO                                                       Dennis A. Muilenburg
CEO Title                       Chairman, President &  Chief Executive Officer
Sector                                                    Aerospace &  Defense
Industry                                                 Aerospace and Defense
Years on Fortune 500 List                                                   24
City                                                                   Chicago
State                                                                       IL
Latitude                                                               41.8781
Longitude                                                             -87.6298
Name: 27, dtype: object

In [21]:
fortune.loc[27]

title                                                                   Boeing
Previous Rank                                                               24
Revenues ($M)                                                         $93,392
Revenue Change                                                          -1.20%
Profits ($M)                                                        $8,197.00
Profit Change                                                           67.50%
Assets ($M)                                                           $92,333
Mkt Value as of 3/29/18 ($M)                                         $192,539
Employees                                                              140,800
CEO                                                       Dennis A. Muilenburg
CEO Title                       Chairman, President &  Chief Executive Officer
Sector                                                    Aerospace &  Defense
Industry                                                 Aerospace and Defense
Years on Fortune 500 List                                                   24
City                                                                   Chicago
State                                                                       IL
Latitude                                                               41.8781
Longitude                                                             -87.6298
Name: 27, dtype: object

In [23]:
sectors.get_group('Apparel').head(14)

,title,Previous Rank,Revenues ($M),Revenue Change,Profits ($M),Profit Change,Assets ($M),Mkt Value as of 3/29/18 ($M),Employees,CEO,CEO Title,Industry,Years on Fortune 500 List,City,State,Latitude,Longitude
rank,,,,,,,,,,,,,,,,,
89,Nike,88,"$34,350",6.10%,"$4,240.00",12.80%,"$23,259","$108,094","74,400",Mark G. Parker,"Chairman, President & Chief Executive Officer",Apparel,24,Beaverton,OR,45.488799,-122.801333
242,VF,230,"$12,400",1.60%,$614.90,-42.80%,"$9,959","$29,403","69,000",Steven E. Rendle,"Chairman, President & Chief Executive Officer",Apparel,24,Greensboro,NC,36.072635,-79.791975
332,PVH,335,"$8,915",8.70%,$537.80,-2.00%,"$11,886","$11,649","28,050",Emanuel Chirico,Chairman & Chief Executive Officer,Apparel,8,New York,NY,40.712775,-74.005973
421,Ralph Lauren,371,"$6,653",-10.20%,($99.30),-125.10%,"$5,652","$9,088","18,250",Patrice Louvet,"President, Chief Executive Officer & Director",Apparel,10,New York,NY,40.712775,-74.005973
433,Hanesbrands,432,"$6,478",6.90%,$61.90,-88.50%,"$6,895","$6,638","67,200",Gerald W. Evans Jr.,Chairman & Chief Executive Officer,Apparel,4,Winston-Salem,NC,36.099860,-80.244216
527,Under Armour,528,"$4,977",3.10%,($48.30),-118.80%,"$4,006","$6,756","11,350",Kevin A. Plank,Chairman & Chief Executive Officer,Apparel,-,Baltimore,MD,39.290385,-76.612189
530,Levi Strauss,542,"$4,904",7.70%,$281.40,-3.30%,"$3,355",$0,"13,800",Charles V. Bergh,"President, Chief Executive Officer & Director",Apparel,-,SF,CA,37.774929,-122.419415
555,Tapestry,546,"$4,488.30",-0.10%,$591.00,28.30%,"$5,831.60","$14,988",12450,Victor Luis,Chairman & Chief Executive Officer,Apparel,-,New York City,NY,40.712775,-74.005973
588,Skechers U.S.A.,638,"$4,181",16.90%,$179.20,-26.40%,"$2,735","$6,231","8,150",Robert Greenberg,Chairman & Chief Executive Officer,Apparel,-,Manhattan Beach,CA,33.884736,-118.410909
679,Carters,694,"$3,400",6.30%,$302.80,17.30%,"$2,068","$4,902","20,900",Michael D. Casey,Chairman & Chief Executive Officer,Apparel,-,Atlanta,GA,33.748995,-84.387982
767,G-III Apparel Group,838,"$2,807",17.60%,$62.10,19.60%,"$1,915","$1,849","9,961",Morris Goldfarb,Chairman & Chief Executive Officer,Apparel,-,New York,NY,40.712775,-74.005973
775,Fossil Group,723,"$2,788",-8.40%,($478.20),-706.30%,"$1,658",$618,"12,300",Kosta N. Kartsotis,Chairman & Chief Executive Officer,Apparel,-,Richardson,TX,32.948334,-96.729852
836,Columbia Sportswear,841,"$2,466",3.70%,$105.10,-45.20%,"$2,213","$5,351","6,188",Timothy P. Boyle,"President, Chief Executive Officer & Director",Apparel,-,Portland,OR,45.512231,-122.658719
862,Wolverine World Wide,812,"$2,350",-5.80%,$0.30,-99.70%,"$2,399","$2,753","3,700",Blake W. Krueger,"Chairman, President & Chief Executive Officer",Apparel,-,Rockford,MI,43.120027,-85.560032

In [25]:
sectors.sum().head()

                         Latitude     Longitude
Sector
Aerospace &  Defense   984.547930  -2115.335326
Apparel                546.792033  -1285.640514
Business Services     2007.401746  -4729.645268
Chemicals             1281.983306  -2781.795418
Energy                3797.947684 -10129.569816

In [27]:
sectors=fortune.groupby(['Sector','Industry'])

In [28]:
sectors.head()

,title,Previous Rank,Revenues ($M),Revenue Change,Profits ($M),Profit Change,Assets ($M),Mkt Value as of 3/29/18 ($M),Employees,CEO,CEO Title,Sector,Industry,Years on Fortune 500 List,City,State,Latitude,Longitude
rank,,,,,,,,,,,,,,,,,,
1,Walmart,1,"$500,343",3.00%,"$9,862.00",-27.70%,"$204,522","$263,563","2,300,000",C. Douglas McMillon,"President, Chief Executive Officer & Director",Retailing,General Merchandisers,24,Bentonville,AR,36.372854,-94.208817
2,Exxon Mobil,4,"$244,363",17.40%,"$19,710.00",151.40%,"$348,691","$316,157","71,200",Darren W. Woods,Chairman & Chief Executive Officer,Energy,Petroleum Refining,24,Irving,TX,32.814018,-96.948894
3,Berkshire Hathaway,2,"$242,137",8.30%,"$44,940.00",86.70%,"$702,095","$492,008","377,000",Warren E. Buffett,"Chairman, President & Chief Executive Officer",Financials,Insurance: Property and Casualty (Stock),24,Omaha,NE,41.256537,-95.934503
4,Apple,3,"$229,234",6.30%,"$48,351.00",5.80%,"$375,319","$851,318","123,000",Timothy D. Cook,Chairman & Chief Executive Officer,Technology,"Computers, Office Equipment",24,Cupertino,CA,37.322998,-122.032182
5,UnitedHealth Group,6,"$201,159",8.80%,"$10,558.00",50.50%,"$139,058","$207,080","260,000",David S. Wichmann,Chairman & Chief Executive Officer,Health Care,Health Care: Insurance and Managed Care,24,Minnetonka,MN,44.921184,-93.468749
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
919,Atlas Air Worldwide Holdings,985,"$2,157",17.20%,$223.50,438.30%,"$4,956","$1,538","2,870",William J. Flynn,"President, Chief Executive Officer & Director",Transportation,Transportation and Logistics,-,Harrison,NY,41.040014,-73.714448
938,Universal,904,"$2,071",-2.30%,$106.30,-2.50%,"$2,123","$1,215","24,000",George C. Freeman III,"Chairman, President & Chief Executive Officer","Food, Beverages & Tobacco",Tobacco,-,Richmond,VA,37.540725,-77.436048
948,Matson,954,"$2,047",5.40%,$232.00,188.20%,"$2,248","$1,222","1,947",Matthew J. Cox,Chairman & Chief Executive Officer,Transportation,Shipping,-,Honolulu,HI,21.306944,-157.858333
980,Oceaneering International,871,"$1,922",-15.40%,$166.40,576.80%,"$3,024","$1,827","8,200",Roderick A. Larson,"President, Chief Executive Officer & Director",Energy,"Oil and Gas Equipment, Services",-,Houston,TX,29.760427,-95.369803
992,VeriFone Systems,941,"$1,871",-6.10%,($173.80),-,"$2,322","$1,698","5,600",Paul S. Galant,Chairman & Chief Executive Officer,Technology,Financial Data Services,-,San Jose,CA,37.338208,-121.886329

In [30]:
sectors.size()

Sector                Industry
Aerospace &  Defense  Aerospace and Defense                            25
Apparel               Apparel                                          14
Business Services     Advertising, marketing                            2
                      Diversified Outsourcing Services                 14
                      Education                                         2
                                                                       ..
Transportation        Trucking, Truck Leasing                          11
Wholesalers           Wholesalers: Diversified                         24
                      Wholesalers: Electronics and Office Equipment     8
                      Wholesalers: Food and Grocery                     6
                      Wholesalers: Health Care                          6
Length: 82, dtype: int64

In [31]:
sectors.sum()

                                                                      Latitude  \
Sector               Industry
Aerospace &  Defense Aerospace and Defense                          984.547930
Apparel              Apparel                                        546.792033
Business Services    Advertising, marketing                          81.425551
                     Diversified Outsourcing Services               530.378545
                     Education                                       78.172006
...                                                                        ...
Transportation       Trucking, Truck Leasing                        403.156792
Wholesalers          Wholesalers: Diversified                       892.151792
                     Wholesalers: Electronics and Office Equipment  291.555930
                     Wholesalers: Food and Grocery                  231.578798
                     Wholesalers: Health Care                       241.305713

                                                                      Longitude
Sector               Industry
Aerospace &  Defense Aerospace and Defense                         -2115.335326
Apparel              Apparel                                       -1285.640514
Business Services    Advertising, marketing                         -148.011946
                     Diversified Outsourcing Services              -1157.941311
                     Education                                      -153.703170
...                                                                         ...
Transportation       Trucking, Truck Leasing                       -1028.976341
Wholesalers          Wholesalers: Diversified                      -2087.235375
                     Wholesalers: Electronics and Office Equipment  -798.182713
                     Wholesalers: Food and Grocery                  -540.221401
                     Wholesalers: Health Care                       -524.870967

[82 rows x 2 columns]

In [32]:
sectors.agg({"Latitude":"sum", "Longitude":"mean"})

                                                                      Latitude  \
Sector               Industry
Aerospace &  Defense Aerospace and Defense                          984.547930
Apparel              Apparel                                        546.792033
Business Services    Advertising, marketing                          81.425551
                     Diversified Outsourcing Services               530.378545
                     Education                                       78.172006
...                                                                        ...
Transportation       Trucking, Truck Leasing                        403.156792
Wholesalers          Wholesalers: Diversified                       892.151792
                     Wholesalers: Electronics and Office Equipment  291.555930
                     Wholesalers: Food and Grocery                  231.578798
                     Wholesalers: Health Care                       241.305713

                                                                    Longitude
Sector               Industry
Aerospace &  Defense Aerospace and Defense                         -84.613413
Apparel              Apparel                                       -91.831465
Business Services    Advertising, marketing                        -74.005973
                     Diversified Outsourcing Services              -82.710094
                     Education                                     -76.851585
...                                                                       ...
Transportation       Trucking, Truck Leasing                       -93.543304
Wholesalers          Wholesalers: Diversified                      -86.968141
                     Wholesalers: Electronics and Office Equipment -99.772839
                     Wholesalers: Food and Grocery                 -90.036900
                     Wholesalers: Health Care                      -87.478495

[82 rows x 2 columns]

In [33]:
sectors.agg(["count","sum", "mean"])

                                                                   Latitude  \
                                                                      count
Sector               Industry
Aerospace &  Defense Aerospace and Defense                               25
Apparel              Apparel                                             14
Business Services    Advertising, marketing                               2
                     Diversified Outsourcing Services                    14
                     Education                                            2
...                                                                     ...
Transportation       Trucking, Truck Leasing                             11
Wholesalers          Wholesalers: Diversified                            24
                     Wholesalers: Electronics and Office Equipment        8
                     Wholesalers: Food and Grocery                        6
                     Wholesalers: Health Care                             6

                                                                                \
                                                                           sum
Sector               Industry
Aerospace &  Defense Aerospace and Defense                          984.547930
Apparel              Apparel                                        546.792033
Business Services    Advertising, marketing                          81.425551
                     Diversified Outsourcing Services               530.378545
                     Education                                       78.172006
...                                                                        ...
Transportation       Trucking, Truck Leasing                        403.156792
Wholesalers          Wholesalers: Diversified                       892.151792
                     Wholesalers: Electronics and Office Equipment  291.555930
                     Wholesalers: Food and Grocery                  231.578798
                     Wholesalers: Health Care                       241.305713

                                                                               \
                                                                         mean
Sector               Industry
Aerospace &  Defense Aerospace and Defense                          39.381917
Apparel              Apparel                                        39.056574
Business Services    Advertising, marketing                         40.712775
                     Diversified Outsourcing Services               37.884182
                     Education                                      39.086003
...                                                                       ...
Transportation       Trucking, Truck Leasing                        36.650617
Wholesalers          Wholesalers: Diversified                       37.172991
                     Wholesalers: Electronics and Office Equipment  36.444491
                     Wholesalers: Food and Grocery                  38.596466
                     Wholesalers: Health Care                       40.217619

                                                                   Longitude  \
                                                                       count
Sector               Industry
Aerospace &  Defense Aerospace and Defense                                25
Apparel              Apparel                                              14
Business Services    Advertising, marketing                                2
                     Diversified Outsourcing Services                     14
                     Education                                             2
...                                                                      ...
Transportation       Trucking, Truck Leasing                              11
Wholesalers          Wholesalers: Diversified                             24
                     Wholesalers: Electronics and Office Equipment         8
                     Wholesalers: Food and Grocery                         6
                     Wholesalers: Health Care                              6

                                                                                 \
                                                                            sum
Sector               Industry
Aerospace &  Defense Aerospace and Defense                         -2115.335326
Apparel              Apparel                                       -1285.640514
Business Services    Advertising, marketing                         -148.011946
                     Diversified Outsourcing Services              -1157.941311
                     Education                                      -153.703170
...                                                                         ...
Transportation       Trucking, Truck Leasing                       -1028.976341
Wholesalers          Wholesalers: Diversified                      -2087.235375
                     Wholesalers: Electronics and Office Equipment  -798.182713
                     Wholesalers: Food and Grocery                  -540.221401
                     Wholesalers: Health Care                       -524.870967


                                                                         mean
Sector               Industry
Aerospace &  Defense Aerospace and Defense                         -84.613413
Apparel              Apparel                                       -91.831465
Business Services    Advertising, marketing                        -74.005973
                     Diversified Outsourcing Services              -82.710094
                     Education                                     -76.851585
...                                                                       ...
Transportation       Trucking, Truck Leasing                       -93.543304
Wholesalers          Wholesalers: Diversified                      -86.968141
                     Wholesalers: Electronics and Office Equipment -99.772839
                     Wholesalers: Food and Grocery                 -90.036900
                     Wholesalers: Health Care                      -87.478495

[82 rows x 6 columns]